/*=======Navbar========*/
.logo {
  width: 80px;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.6;
  cursor: pointer;
}

ul, li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-top: 0.1875rem solid #f9ab30;
}

/*============*/
.App {
  text-align: center;
  /*display: grid;*/
  /* grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 75px auto 50px;
  min-height: 100vh; */
}

.App--navbar {
  grid-column: 1 / -1;
  background: rgba(200, 200, 200, 0.99);
}

.App--sidebar {
  grid-column: 1 /2;
  background: rgba(200, 200, 200, 0.8);
  padding: 6%;
}

.App--sidebar li {
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.App--main {
  grid-column:  2 / -1;
background: rgba(200, 200, 200, 0.6);
padding: 6%;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.App--main .order-item {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-around ;

}

.App--footer {
  grid-column: 1 / -1;
  background: rgba(200, 200, 200, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}


.header-wraper {
  position: relative;
  background: url(header.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

h1 {
  color: #f9ab30;
  text-transform: uppercase;
}